/* footer */
.footer-container {
    max-width: 1140px;
    margin: 130px auto 0 auto;
    padding: 15px 0;
    display: flex;
    flex-flow: column wrap;
}
.footer-text {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}
.footer-text h1 {
    font-size: 4.5em;
    font-weight: 800;
    color: #2D2933;
    text-shadow: -4.5px 5px 0px rgba(250, 101, 2, 0.125);
}

.footer-text h2 {
    font-size: 2em;
    font-weight: 400;
    color: #2D2933;
    margin-bottom: 45px;
}

.footer-text a {
    font-size: 1.5em;
    color: #2C223A;

}

.footer-social {
    margin-bottom: 150px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.social-icons img {
    padding-left: 25px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
