*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #fafafa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}

img {
  display: block;
  max-width: 100%;
}

.root {
  padding: 0%;
  margin: 0%;
}

.section-header h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: #2D2933;
  text-shadow: -4.5px 5px 0px rgba(250, 101, 2, 0.125);
  margin-bottom: 45px;
  
}